---
import '@/styles/app.css'
import Header from '@/components/header.astro'
import Footer from '@/components/footer.astro'
import WhatsappFloat from '@/components/ui/whatsapp-float.astro'

import { rush } from '@/lib/rush'
import { rushConfig } from 'rush.config'

interface Props {
  title: string
}

const { title } = Astro.props

const [mainMenuRes, footerMenuRes] = await Promise.all([
  rush.getMenu(rushConfig.locales.pt_BR.navs.main),
  rush.getMenu(rushConfig.locales.pt_BR.navs.footer)
])

const mainMenu = mainMenuRes.data?.items || []
const footerMenu = footerMenuRes.data?.items || []
---

<html lang="pt-BR" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="antialiased min-h-screen flex flex-col">
    <Header menu={mainMenu} />
    <main class="grow">
      <slot />
    </main>
    <Footer menu={footerMenu} />
    <WhatsappFloat />
  </body>
</html>
